.app {
    color: white;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: url(./assets/img/london.jpg);
    background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
}

.app-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.app-header {
    background-color: rgba(34, 34, 34, 0.7);
    height: 150px;
    padding: 20px;
    color: white;
}

.app-title {
    font-size: 1.5em;
}

.app-intro {
    font-size: large;
}

@keyframes App-logo-spin {
  from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.weather-panel {
    color: darkslategrey;
    font-size: large;
		background: rgba(255, 255, 255, 0.6);
		width: 80%;
		margin: auto;
		border-radius: 1em;
}
